* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.toast .MuiAlert-message {
	padding: 3px 0;
}

@media (max-width: 768px) {
	.main-container {
		padding-top: 8rem !important;
		padding-left: 16px !important;
		padding-right: 16px !important;
	}

	.header-container {
		height: 7rem !important;
		padding: 10px 0;
	}

	.header-wrapper {
		flex-direction: column !important;
		gap: 16px;
	}

	.post-details-image {
		max-width: 100%;
	}
}